<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NextUp</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <header class="header">
      <nav role="navigation" class="blue darken-2">
        <div class="container">
          <a href="/" class="brand-logo">
            <i class="material-icons">dialpad</i>
          </a>
          <ul class="right">
            <li>
              <%= link "Login", to: auth_path(@conn, :request, "facebook"), class: "btn blue waves-effect waves-light" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  

    <p class="alert card-panel blue-text text-darken-2" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert card-panel blue-text text-darken-2" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

      <footer class="page-footer blue darken-2">
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Text
          </div>
        </div>
      </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
