@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* Phoenix flash messages */

.alert:empty {
    display: none;
}
/* Phoenix inline forms in links and buttons */

form.link,
form.button {
    display: inline;
}
/* Override materialize form focus color */

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1976D2;
    box-shadow: 0 1px 0 0 #1976D2;
}

$footerHeight: 70px;
$headerHeightMobile: 56px;
$headerHeight: 64px;
.brand-logo {
    i {
        @media only screen and (min-width: 601px) {
            line-height: $headerHeight !important;
        }
    }
}

.content {
    min-height: calc(100vh - (#{$footerHeight} + #{$headerHeightMobile}));
    @media only screen and (min-width: 601px) {
        min-height: calc(100vh - (#{$footerHeight} + #{$headerHeight}));
    }
}

.redactor-layer.redactor-styles.redactor-in {
    min-height: 160px !important;
}

.form-right {
    float: right;
    position: relative;
    top: -35px;
}

.sortable,
.sortable-existing {
    min-height: 50px;
}

.sortable-with-icon {
    display: flex;
    align-items: center;
    line-height: 0 !important;
    i {
        margin-right: 5px;
        color: #039BE9;
    }
}

.sortable-order {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:empty {
        display: none;
    }
}

.carousel.card {
    border-radius: 0;
}

.indicators {
    background-color: #90CAF9 !important;
}

.last {
    margin-right: 0 !important;
}

.section-large {
    padding: 4rem 0;
}